#header{
	height: 100px;
	padding-top: 30px;
}
#header .logo img{
	width: 100%;
	max-width: 160px;
	height: auto;
}
#header .menu{
	padding-top: 15px;
	text-align: right;
}
#header .menu ul{
	padding-left: 0px;
}
#header .menu ul li{
	display: inline-block;
}
#header .menu ul li a{
	font-size: 15px;
	color: #000;
	padding: 10px 15px;
}

h1{
	margin-bottom: 60px;
	text-align: center;
}
h1:hover{
	cursor: pointer;
}
.class > h3{
	text-align: center;
	margin-bottom: 60px;
}
.member{
	text-align: center;
	margin-bottom: 60px;
	height: 330px;
}
.member img{
	max-width: 150px;
	width: 100%;
	height: auto;
}
.member h5{
	font-size: 19px;
	margin: 10px 0;
}
.member .title{
	margin-bottom: 10px;
}
.member .email{
	color: #ff4c4d;
}
.member .email a{
	color: #ff4c4d;
}